/*
font-family: 'Josefin Slab', serif;
font-family: 'Raleway', sans-serif;

Custom, iPhone Retina


*/


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(206, 159, 252, 0.2);
  border-right: 1.1em solid rgba(206, 159, 252, 0.2);
  border-bottom: 1.1em solid rgba(206, 159, 252, 0.2);
  border-left: 1.1em solid #F761A1;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loading{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #f5f5f5;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Slab', serif;
}
    @media only screen and (min-width : 320px) {
      .aroundStuff{
        background: #C9D6DF;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
      }

      main{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
        background: #f5f5f5;
        position: relative;
        max-height: 700px;
      }

      .chatHead{
        width: 100%;
        background: white;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Josefin Slab', serif;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
      }

      .messages{
        height: calc(100vh - 50px);
        padding-left: 5px;
        padding-right: 5px;
        top:0px; 
        overflow-y: auto;
      }
      #placeholder{
        height: 100px;
      }

      .each-message{
        max-width: 80%;
        background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
        color: #f8f8f8;
        font-family: 'Raleway', sans-serif;
        border-radius: 20px 20px 20px 0px;
        padding: 10px 5px 10px 5px;
        margin-top: 10px;
      }

      .each-message span{
        font-size: 12px;
        color: #F9F7F7;
        margin-left: 2px;
      }

      .yourMessage{
        background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
        margin-left: 20%;
        border-radius: 20px 20px 0px 20px;
      }

      .chatBottom{
        width: 100%;
        display: flex;
        height: 50px;
        background: white;
        position: absolute;
        bottom: 0;
        -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.2);
      }

      form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

      }
      form input{
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 18px;
        padding-left: 5%;
        overflow: scroll;
      }

      form input:focus{
        outline-color: transparent;
        outline-style: none;
      }

      form button{
        font-size: 20px;
        background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
        color: #f8f8f8;
        border: 0px;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin-right: 5px;
      }

      .nameh1{
        font-family: 'Josefin Slab', serif;
        text-align: center;
        margin-top: 50px;
      }

      .signupForm{
        width: 100%;
        height: 60%;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-flow: column;
      }

      .signupForm input{
        width: 100%;
        border-bottom: 1px solid black;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        text-align: center;
      }

      .signupForm button{
        font-size: 17px;
        width: 50%;
        margin-top: 20px;
      }

      .spons{
        font-family: 'Raleway', sans-serif;
        margin-bottom: 30px;
      }
    }

    
    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
      .aroundStuff{
        display: flex;
        justify-content: center;
      }
      main, .chatBottom{
        width: 400px;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .aroundStuff{
        display: flex;
        justify-content: center;
      }
      main, .chatBottom{
        width: 400px;
      }


    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
